*{
	margin:0;
	padding: 0;
}

body{
	width: 80%;
	margin: 0 auto;
	background-color: 'snow';
}

.content{
	margin-top: 20px; 
	/*background-color: #eee;*/
}

fieldset{
	background-color: #eee;
}

input.ng-invalid {
    background-color: pink;
}
input.ng-valid {
    background-color: lightgreen;
}
